################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SE/FileContentIndex/4584e0a5-1c4a-4f75-8d1f-d299ef3d561b.vsidx
/.vs
