@{
    ViewData["Title"] = "Login";
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">


    <link href="~/fonts/style.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Style -->
    <link href="~/css/register.css" rel="stylesheet" />

    <title>Register</title>
</head>
<body>
    <div class="d-lg-flex half">

        <div class="d-lg-flex half">
            <div class="d-lg-flex half"></div>

            <div class="bg order-1 order-md-2" id="img2">

                <img src="~/reg1.jpg" style="margin-left:1050px; transform:rotate(-10deg)"/>
            </div>
            <div class="bg order-1 order-md-2" id="img2">

                <img src="~/greg2.jpg" style="margin-left:1300px; z-index:3" />
                
            </div>


            <div class="bg order-1 order-md-2" id="img2">

                <img src="~/reg3.jpg" style="margin-left:1550px; transform:rotate(10deg)" />
                <p class="signing-in-text">YOUR </p>
                <p class="your-signing-in-text">SIGNING!</p>
                
            </div>

            
        </div>



        <div class="contents order-2 order-md-1">


            <div class="container">
                <div class="row align-items-center justify-content-center" style="background-color:white">
                    <div class="col-md-7">
                        <div class="greeting-container">
                            <h3 id="greeting"><strong></strong></h3>
                        </div>
                        <div>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group first">
                                <input type="text" class="form-control" placeholder="Username" id="username">
                            </div>
                            <div class="form-group last mb-3">
                                <input type="password" class="form-control" placeholder="Password" id="password">
                            </div><div class="form-group first">
                                <input type="text" class="form-control" placeholder="Confirm Password" id="username">
                            </div>
                            <div class="form-group last mb-3">
                                <input type="password" class="form-control" placeholder="Email Address" id="password">
                            </div>
                            <div class="form-group last mb-3">
                                <input type="password" class="form-control" placeholder="Phone Number" id="password">
                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <input class="form-check-input" type="checkbox" style="margin-left:11"  value="" id="termsCheck" required>
                                <label class="form-check-label" for="termsCheck" style="font-family:Calibri;">
                                   By signing up, you agree to Your Studio's' <a href="#" style="color: black; font-family:Calibri">Terms and Conditions</a>and <a href="#" style="color:black; font-family:Calibri ">Privacy Policy</a> 
                                </label>
                            </div>
                            <input type="submit" value="REGISTER" class="btn btn-block btn-primary" style="font-family:'Palatino Linotype';font-size:30px">
                            <div class="d-flex mb-5 align-items-center text-center">
                                <p class="mx-auto" style="color: black; margin-top:20px; font-size:20px">
                                    Already have an account? <a class="link-danger" style="color: blue;" asp-action="Login" asp-controller="Home">Login</a>
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script>
        var currentHour = new Date().getHours();

        var greetingElement = document.getElementById("greeting");

        if (currentHour >= 0 && currentHour < 12) {
            greetingElement.innerHTML = "<h1>GOOD MORNING</h1>";
        } else if (currentHour >= 12 && currentHour < 18) {
            greetingElement.innerHTML = "<h1>GOOD AFTERNOON</h1>";
        } else {
            greetingElement.innerHTML = "<h1>GOOD EVENING</h1>";
        }
    </script>
</body>
</html>