<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SE</title>
    <link href="~/css/style.css" rel="stylesheet" />

   
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <!-- Left side content, taking up 50% -->
                <div class="col-md-6">
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Index">

                        <span>
                            <a href="#" class=""></a>
                            <img src="~/logo.png" class="logonav" alt="" id="img2">
                            <img src="~/logo2.png" class="logonav2" alt="" id="img2">
                        </span>
                    </a>
                   
                </div>
                <!-- Right side content, taking up 50% -->
                <div class="col-md-6" style="background-color:#FDF8F2">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light " style="background-color:#FDF8F2">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" style="background-color:#FDF8F2">
                            <ul class="navbar-nav" >
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Privacy">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Packages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Privacy">Booking</a>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Inquiry</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Login</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>