#YB {
    font-family: 'Palatino Linotype';
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-left: 70px;
}

#VL {
    position: absolute;
    top: 103px;
    bottom: 0;
    width: 5px;
    background-color: #ccc;
    margin-left: 150px;
    height: 100%;
}

.blist {
    position: relative;
    top: 60px;
    left: -215px;
    background-color: white;
    border-radius: 5px;
    padding: 0px 20px 0px 20px;
    color: black;
    border: 1px solid black;
    width: 300px;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
}

    .blist:hover {
        background-color: #FFA629;
    }

.ftco-section {
    display: none;
    position: absolute;
    top: 100px;
    left: 580px;
}

.calendar {
    top: -130px;
}

.time-container {
    display: none;
}

    .time-container .time {
        position: relative;
        top: 250px;
        left: 230px;
        margin-left: 100px;
    }

#btn-row {
    display: flex;
    margin-left: 50px;
}

.btn-row > div {
    margin: 5px;
}

.btnT {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}

.ui-state-highlight {
    background: none;
}

.ui-datepicker {
    pointer-events: none;
}
