html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url(../photos/Background.png)
}

.form-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
}

.hidden-message {
    display: none;
    text-indent: 20px;
}

.clickable-text {
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    float: right;
}

.additional-text {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}

.FAQ {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Palatino Linotype';
}




.menu {
    height: 100%;
    width: 80px;
    margin-top: -2px;
    margin-left: -190px
}

.fa-li {
    position: relative;
    left: 0;
}

.navbar-nav {
    margin-top: -20px;
}

.logonav {
    height: 100%;
    width: 80px;
    margin-top: -50px;
    margin-left: -90px;
}

.logonav2 {
    height: 100%;
    width: 200px;
    margin-top: -62px;
    margin-left: -30px
}

.topnav {
    margin-top: 200px;
}