@model BookingModel
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="DAT inline">
        <div>SELECT DATE AND TIME</div>
    </div>

    <div class="PST inline">
        <div>Philippine Standard Time (GMT + 8)</div>
    </div>

    <hr />

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="calendar">
						<div class="header">
							<a data-action="prev-month" href="javascript:void(0)" title="Previous Month"><i></i></a>
							<div class="text" data-render="month-year"></div>
							<a data-action="next-month" href="javascript:void(0)" title="Next Month"><i></i></a>
						</div>
						<div class="months" data-flow="left">
							<div class="month month-a">
								<div class="render render-a"></div>
							</div>
							<div class="month month-b">
								<div class="render render-b"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="time">
		<div style="float: left; justify-content: center;">
			<button type="button" class="btnT">Button 1</button>
			<button type="button" class="btnT">Button 2</button>
		</div>
	</section>
	<section class="time">
		<div style="float: left; justify-content: center;">
			<button type="button" class="btnT">Button 3</button>
			<button type="button" class="btnT">Button 4</button>
		</div>
	</section>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section scripts {

        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
		<script src="~/bootstraps.min.js"></script>

		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/popper.js"></script>
		<script src="~/js/main.js"></script>


        <script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: "yy/mm/dd",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "2024:2029"
                    buttonText: "<i class='fa fa-calendar'></i>"
                });
            });
        </script>

    }

</body>
</html>