@model BookingModel
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="DAT inline">
        <div>SELECT DATE AND TIME</div>
    </div>

    <div class="PST inline">
        <div>Philippine Standard Time (GMT + 8)</div>
    </div>

    <hr />

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="calendar">
						<div class="header">
							<a data-action="prev-month" href="javascript:void(0)" title="Previous Month"><i></i></a>
							<div class="text" data-render="month-year"></div>
							<a data-action="next-month" href="javascript:void(0)" title="Next Month"><i></i></a>
						</div>
						<div class="months" data-flow="left">
							<div class="month month-a">
								<div class="render render-a"></div>
							</div>
							<div class="month month-b">
								<div class="render render-b"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section style="position: relative; margin-top: 70px;">
		<div style="position: absolute; top: 50%; left: 47%; transform: translate(-50%, -50%); font-family: 'Palatino Linotype';">PLACEHOLDER</div>
	</section>

	<section class="time">
		<br />
		<div style="justify-content: center;">
			<button type="button" class="btnT">09:30 am</button>
			<button type="button" class="btnT">10:00 am</button>
		</div>
	</section>
	<section class="time">
		<div style="justify-content: center;">
			<button type="button" class="btnT">10:30 am</button>
			<button type="button" class="btnT">11:00 am</button>
		</div>
	</section>
	<section class="time">
		<div style="justify-content: center;">
			<button type="button" class="btnT">01:30 am</button>
			<button type="button" class="btnT">02:00 pm</button>
		</div>
	</section>
	<section class="time">
		<div style="justify-content: center;">
			<button type="button" class="btnT">02:30 pm</button>
			<button type="button" class="btnT">03:00 pm</button>
		</div>
	</section>
	<section class="time">
		<div style="justify-content: center;">
			<button type="button" class="btnT">03:30 pm</button>
			<button type="button" class="btnT">04:00 pm</button>
		</div>
	</section>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section scripts {

        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
		<script src="~/bootstraps.min.js"></script>

		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/popper.js"></script>
		<script src="~/js/main.js"></script>


        <script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: "yy/mm/dd",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "2024:2029"
                    buttonText: "<i class='fa fa-calendar'></i>"
                });
            });
        </script>

    }

</body>
</html>